@page "/Load"
@layout MainLayout
@inject NavigationManager Navigator
@inject FileCachingService FileCacher
@inject FileCachingProgressService FileCachingProgress
@implements IDisposable
@code
{
    public void Dispose()
    {
        FileCachingProgress.StateHasChanged -= OnProgressChanged;
    }
}
@code
{
    protected override void OnInitialized()
    {
        FileCachingProgress.StateHasChanged += OnProgressChanged;
    }
    protected override async Task OnAfterRenderAsync(bool first_render)
    {
        if(first_render is false)
        {
            return;
        }
        ShowStartModal = true;
        await InvokeAsync(StateHasChanged);
    }
}

<div class="w-screen h-screen bg-cover bg-[url('./../assets/images/load-page.jpg')] relative">
    <audio src="assets/audio/load-page.ogg" autoplay loop></audio>
    <div class="absolute top-1 left-1/2 w-4/5 -translate-x-1/2 transform rounded-md bg-black/60 p-4 shadow-lg">
        <div class="mb-2 text-center text-white">
            <div class="text-sm font-semibold">@StatusText</div>
        </div>
        <div class="h-3 w-full overflow-hidden bg-white/30">
            <div class="h-full bg-green-500 transition-all" style="width: @(ProgressPercentString)"></div>
        </div>
    </div>
    <ModalDialog IsVisible=@ShowStartModal OnPrimaryClick=@OnContinueAsync OnSecondaryClick=@OnExit>
        <ChildContent>
            <div class="text-center">This application will use the browser open private file system (OPFS) and may download files into it. Continue?</div>
        </ChildContent>
        <PrimaryButton>Continue</PrimaryButton>
        <SecondaryButton>Exit</SecondaryButton>
    </ModalDialog>
    <ModalDialog IsVisible=@ShowRetryModal OnPrimaryClick=@OnRetryAsync OnSecondaryClick=@OnCancel>
        <ChildContent>
            <div class="text-center">Files validation failed. Would you like to retry?</div>
        </ChildContent>
        <PrimaryButton>Retry</PrimaryButton>
        <SecondaryButton>Cancel</SecondaryButton>
    </ModalDialog>
</div>

@code
{
    private bool ShowRetryModal { get; set; }
    private bool ShowStartModal { get; set; }
    private string? CustomProgressText { get; set; } = "";
    private string ProgressPercentString
    {
        get => $"{double.Round(100.0 * FileCachingProgress.CachedFiles / FileCachingProgress.TotalFiles, 2).ToString(CultureInfo.InvariantCulture)}%";
    }
    private string StatusText
    {
        get => CustomProgressText ?? $"{(FileCachingProgress.Retry is true ? "(Retry)" : "")} {FileCachingProgress.CurrentAction}[{FileCachingProgress.CachedFiles}/{FileCachingProgress.TotalFiles}] - {FileCachingProgress.Server_Local_Path.Value}";
    }

    private void OnProgressChanged()
    {
        InvokeAsync(StateHasChanged);
    }
    private async ValueTask CacheAllAsync()
    {
        await ShowProgressTextAsync("Starting...");
        if(await FileCacher.CacheAllAsync() is false)
        {
            ShowRetryModal = true;
            await InvokeAsync(StateHasChanged);
        }
        else
        {
            await ShowProgressTextAsync("Redirecting...");
            Navigator.NavigateTo("/Main");
        }
    }
    private async Task OnRetryAsync()
    {
        ShowRetryModal = false;
        await InvokeAsync(StateHasChanged);
        await CacheAllAsync();
    }
    private void OnCancel()
    {
        Navigator.NavigateTo("/");
    }
    private async Task OnContinueAsync()
    {
        ShowStartModal = false;
        await InvokeAsync(StateHasChanged);
        await CacheAllAsync();
    }
    private void OnExit()
    {
        Navigator.NavigateTo("/");
    }
    private async ValueTask ShowProgressTextAsync(string text)
    {
        CustomProgressText = text;
        await InvokeAsync(StateHasChanged);
        await Task.Delay(2000);
        CustomProgressText = null;
        await InvokeAsync(StateHasChanged);
    }
}