@page "/Main"
@inject NavigationManager Navigator
@inject BrowserFileSystemService FileSystem

<button @onclick=@ClearAllAsync>Clear All</button>

@code
{
    private async Task ClearAllAsync()
    {
        await FileSystem.ClearAllAsync();
        Navigator.NavigateTo("/");
    }
}