@page "/"
@layout MainLayout
@inject NavigationManager Navigator

<div class="flex h-screen w-screen items-center justify-center bg-black text-white select-none" @onclick=@NavigateToLoadPage>Click anywhere to start</div>

@code
{
    private void NavigateToLoadPage()
    {
        Navigator.NavigateTo("/Load");
    }
}